@use 'base/variables' as v;
@use 'base/mixins' as m;

// Icono footer
.icono-footer{
    display: flex;
    align-content: center;
    justify-content: center;
    img{
        height: 15rem;
        width: auto;
    }
    @include m.tablet{
        img{
            height: 20rem;
            width: auto;
        }
    }
}
// Menú footer 
.contenedor-secundaria{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 3rem;    
    a{
        color: v.$negro;
        font-size: 2.4rem;
        font-weight: 500;
        transition: all 0.37s ease-in-out;
        &:hover{
            color:v.$violeta;           
        } 
        &.actual{
            color: v.$violeta;
        }       
    }
    @include m.desktop{
        flex-direction: row;
        justify-content: space-between;
        gap: 6rem;
        align-items: center;
        justify-content: center;
        a{
            font-size: 3rem;           
        }
    }
}
// Iconos de redes sociales
.iconos-redes{
    @include m.flex(column, center, center);
    gap: 2rem;
    margin-bottom: 2rem;
    @include m.tablet{
        @include m.flex(row, center, center);
    }   
}
.facebook{
    background-color: v.$violeta;
    padding: 2rem;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: #1877F2;
        border-radius: 50%;
    }
}
.whatsapp{
    background-color: v.$violeta;
    padding: 2rem;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: #25D366;
        border-radius: 50%;
    }
}
.instagram{
    background-color: v.$violeta;
    padding: 2rem;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    &:hover{
        background: linear-gradient(45deg, 
        #405DE6, 
        #5851DB, 
        #833AB4, 
        #C13584, 
        #E1306C, 
        #FD1D1D, 
        #F56040, 
        #F77737, 
        #FCAF45, 
        #FFDC80);
        border-radius: 50%;
    }
}
.linkedin{
    background-color: v.$violeta;
    padding: 2rem;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: #0A66C2;
        border-radius: 50%;
    }
}
.redes svg{
    height: 7rem;
    width: auto;
}
