@use 'base/variables' as v;
@use 'base/mixins' as m;

// Sección de Servicios Hero

.hero-planes{
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    @include m.tablet{
        padding: 5.2rem;
    } 
}
.hero-planes{
    background: linear-gradient(135deg, #000000, #4B0082, #8A2BE2);
    background-size: 300% 300%; /* Hace el efecto más suave */
    background-attachment: fixed; /* Mantiene el efecto parallax */
    animation: movimientoVioleta 15s ease infinite;       
        @keyframes movimientoVioleta {
            0% {
                background-position: 0% 50%; /* Inicio del movimiento */
            }
            50% {
                background-position: 100% 50%; /* Medio del movimiento */
            }
            100% {
                background-position: 0% 50%; /* Fin del movimiento */
            }
         }
}
.info-hero{
    margin-bottom: 2rem;
    h2, p{
        margin: 0;
        color: v.$blanco;
    }
}
// Estilos del contenedor del carrusel3 
.carrusel3 {
    backdrop-filter: blur(20px);
    padding: 2rem;
    border: 1px solid v.$blanco;
    border-radius: 15px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 70rem;
    @include m.tablet {
        height: 79rem;
    }
    @include m.desktop {
        max-height:auto;
        height: 78rem;
    }
}
// titulos e  informacion de las diapositivas
.info3{
    margin: 2rem;
    h2, p{
        color: v.$blanco;
        margin: 0;
    }
    p{
        font-size: 2.5rem;
    }
    h3{
        font-size: 4rem;
    }
}
// Estilos de la imagen de las diapositivas
.contenedor-imagen3{
    height: 30rem;
    @include m.tablet{
        height: 50rem;
    }   
}
.imagen3{
    margin: 0 auto;
    width: 40rem;
    height: auto;
    @include m.tablet{
        width: 75rem;
        height: auto;
    }
}
// Estilos de las diapositivas del carrusel
.diapositiva3{
    padding: 2rem;
    button{
        margin-top: 1rem;
    }
}
.diapositiva3 {
    @include m.flex(column, center, center);
    text-align: center;
    min-width: 100%; /* Asegura que cada diapositiva ocupe todo el ancho */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateX(100%); /* Las diapositivas empiezan fuera de la pantalla a la derecha */
    &.activa3 {
        opacity: 1;
        transform: translateX(0); 
        z-index: 1;
    }
    &.salida3  {
        transform: translateX(-100%);  /* La diapositiva que sale se mueve a la izquierda */
        opacity: 0;
        z-index: 0;
    }
    &.entrante3  {
        transform: translateX(100%);  /* La diapositiva entrante se mueve desde la derecha */
        opacity: 0;
        z-index: 1;
    }
}
// Estilos de los botones de las diapositivas
.carrusel-botones3 {
    display: none;
    @include m.tablet {
        display: flex;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 50%;
        justify-content: space-between;
        width: 95%;
        transform: translateY(-50%);
        z-index: 3; /* Asegura que los botones estén por encima de las diapositivas */
    }
    button {
        padding: 0.5rem;
        background: none;
        border: none;
        border-radius: 15px;
        width: 8rem;
        height: auto;
        transition: transform 0.37s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }
}
// Fondo y estilos de seccion general de los planes
.contenedor-planes{
    @include m.flex(column, center, center);
    padding: 1.2rem;
    @include m.tablet{
        padding: 5.2rem;
    }
}
// Fondo de Desarrollo web
.desarrollo{
    background: linear-gradient(135deg, #000000, #50276E, #015249);
    background-size: 300% 300%;
    background-attachment: fixed;
    animation: fondoDinamico2 15s ease infinite;     
    @keyframes fondoDinamico2 {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }
}
// Fondo de Brandig + desarrollo web
.branding{
    background: linear-gradient(135deg, #000000, #0B2545, #E6399B);
    background-size: 300% 300%;
    background-attachment: fixed;
    animation: fondoDinamico3 15s ease infinite;     
    @keyframes fondoDinamico3 {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }
}
// Fondo de Brandig + desarrollo web
.tiendas{
    background: linear-gradient(135deg, #000000, #8B0000, #023E8A);
    background-size: 300% 300%;
    background-attachment: fixed;
    animation: fondoDinamico4 15s ease infinite;    
    @keyframes fondoDinamico4 {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }
}
.rediseno{
    background: linear-gradient(135deg, #000000, #206A5D, #A380CF);
    background-size: 300% 300%;
    background-attachment: fixed;
    animation: fondoDinamico5 15s ease infinite;
    @keyframes fondoDinamico5 {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }

}
// Estilos de titulo e informacion de plan
.info-planes{
    @include m.grid;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    p, h2{
        color: v.$blanco;
    }
    @include m.desktop{
        @include m.grid (2, 1);
        column-gap: 2rem;
    }
}
// Estilos y layouts de las tarjetas de los planes
.planes{
    display: none; // Ocultar inicialmente
    opacity: 0;
    transition: all 0.37s ease-in-out;
        &.mostrar-planes {
        @include m.grid();        
        row-gap: 2rem;
        opacity: 1; // Totalmente visible
        @include m.desktop{
            @include m.grid(3,1);
            column-gap: 2rem;
        } 
    }
}
// Estilos del boton que muestra los planes
.boton-mostrar-planes {    
    display: inline-block;
    margin-bottom: 4rem;
    width: 100%;
    box-shadow: 0px 10px 5px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: v.$rosa;
    padding: 1rem 2rem;
    border-radius: 8rem;       
    border: 0;

    // Estilos de texto
    color: v.$blanco;
    font-size: 2.4rem;
    font-weight: 600;
    transition: color 0.4s ease-out;
    z-index: 2;
    @include m.desktop {
        width: auto;
    }
    span {
        position: relative;
        z-index: 3;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%; // Empieza fuera del botón
        width: 100%;
        height: 100%;
        background-color: v.$verde; // Color verde
        border-radius: 8rem;
        transition: transform 0.3s ease-in-out; // Transición suave
        z-index: 1;
    }
    &:hover {
        color: v.$negro; // Cambia el color del texto
        // Desplaza la "gota" hacia la derecha
        &::before {
            transform: translateX(100%);
        }
    }
}
// Estilos de las tarjetas de los planes
.tarjeta{
   border-radius: 15px;
   padding: 2rem;
   text-align: center;
}
.pro,
.plus{
    background-color: v.$negro;
    border: 2px solid v.$negro;
    transition: all 0.3s ease-in-out;
    h4, li{
        color:v.$blanco;
    }
    h3{
        font-size: 4rem;
        color: v.$cian;
        margin: 0;
    }
    h4{
        font-size: 2.5rem;
        margin: 1rem;
    }
    &:hover{
        border: 2px solid v.$blanco;
        transform: scale(1.04);
    }
}
.elite{
    border: 3px solid v.$cian;
    background-color: rgba(v.$violeta, 0.1);
    backdrop-filter: blur(30px);
    transition: all 0.3s ease-in-out;
    h4, li{
        color:v.$blanco;
    }
    h3{
        font-size: 4rem;
        color: v.$blanco;
        margin: 0;
    }
    h4{
        font-size: 2.5rem;
        margin: 1rem;
    }
    &:hover{
        border: 2px solid v.$verde;
        transform: scale(1.04);
    }
}
.plan-body li{
    margin-bottom: 3rem; 
}
footer .cta{
    text-align: center;
}
// cintilla
.cintilla{
    p{
        margin: 0;
    }
    h3{
        margin: 15px;
        color:v.$blanco;
    }
}
// Sección Cuidado continuo 
.contenedor-cuidado{
    padding-left: 5.2rem;
    padding-right: 5.2rem;
    height: 2350px;
    background-image: url(../../src/img/full/fondos/fondoContinuo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include m.tablet{
        height: 2100px;  
    }
    @include m.desktop{
        height: 900px;
    }
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    background-color: rgba(v.$negro, 0.5);
}
.informacion2{
    margin-top: 3rem;
    text-align: center;
    h2{
        margin: 0;
        color: v.$blanco;
    }
    p{
        color: v.$blanco;
    }   
    .precio{       
        font-size: 7rem;
        margin: 0;
        color: v.$verde;
        @include m.tablet{
            font-size: 10rem;            
        }
    }
    .cta{
        margin: 0;
    }
}
.servicio-cuidado{
    border: 1px solid v.$blanco;
    border-radius: 15px;
    backdrop-filter: blur(40px);
    @include m.desktop{
        @include m.grid(5, 2rem);
    }
}
.cuidado{
    margin-top: 2rem;
    padding: 1rem;
    @include m.flex(column, center, center); 
    h3{
        text-align: center;
        color: v.$blanco;
    }
    p{
        text-align: center;
        color: v.$blanco;
    }
}
.iconos{
    @include m.flex(row, center, center);
    height: 20rem;
    width: 20rem;
    transition: all 0.3s ease-in-out;
    img{
        width: 100%;
        height: auto;
    }
    &:hover{
        cursor: pointer;
        transform: scale(1.2);
    }
}
// Sección Dudas 
.cintilla{
    h2{
        margin: 0;
    }
} 
// Seccion FQA 
.contenedor-FAQ{
    display: block;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 10px;
    margin: 0 auto;
}
.FAQ-item{
    @include m.contenedor;
    @include m.flex(column, center, center);
    text-align: center;
    margin-top: 3rem;
    border-radius: 15px;
}
.FAQ-contenido{
    padding: 3rem;
    h3{
        color:v.$verde;
    }
}
//Porpiedad para centrar las secciones al usar button y id 
.centrada-planes{
    scroll-margin: 20vh; /* Centra todas las secciones en el visor */
}
