@use 'base/variables' as v;
@use 'base/mixins' as m;

// Sección de Servicios Hero

.hero-planes{
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    @include m.tablet{
        padding: 5.2rem;
    } 
}
.hero-planes{
    background-color: v.$blanco;
}
.info-hero{
    margin-bottom: 2rem;
    h2, p{
        margin: 0;
        color: v.$gris;
    }
}
// Fondo y estilos de seccion general de los planes
.contenedor-planes{
    @include m.flex(column, center, center);
    padding: 1.2rem;
    @include m.tablet{
        padding: 5.2rem;
    }
}
// Fondo de Desarrollo web
.desarrollo{
    background-color: v.$blanco;
}
// Fondo de Brandig + desarrollo web
.branding{
    background-color: v.$blanco;
}
// Fondo de Brandig + desarrollo web
.tiendas{
    background-color: v.$blanco;
}
.rediseno{
    background-color: v.$blanco;
}
// Estilos de titulo e informacion de plan
.info-planes{
    @include m.grid;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    p, h2{
        color: v.$gris;
    }
    @include m.desktop{
        @include m.grid (2, 1);
        column-gap: 2rem;
    }
}

// Estilos y layouts de las tarjetas de los planes
.planes{
    display: none; // Ocultar inicialmente
    opacity: 0;
    transition: all 0.37s ease-in-out;
        &.mostrar-planes {
        @include m.grid();        
        row-gap: 2rem;
        opacity: 1; // Totalmente visible
        @include m.desktop{
            @include m.grid(3,1);
            column-gap: 2rem;
        } 
    }
}
// Estilos del boton que muestra los planes
.boton-mostrar-planes {    
    display: inline-block;
    margin-bottom: 4rem;
    width: 100%;
    box-shadow: 0px 10px 5px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: v.$rosa;
    padding: 1rem 2rem;
    border-radius: 8rem;       
    border: 0;

    // Estilos de texto
    color: v.$blanco;
    font-size: 2.4rem;
    font-weight: 600;
    transition: color 0.4s ease-out;
    z-index: 2;
    @include m.desktop {
        width: auto;
    }
    span {
        position: relative;
        z-index: 3;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%; // Empieza fuera del botón
        width: 100%;
        height: 100%;
        background-color: v.$verde; // Color verde
        border-radius: 8rem;
        transition: transform 0.3s ease-in-out; // Transición suave
        z-index: 1;
    }
    &:hover {
        color: v.$negro; // Cambia el color del texto
        // Desplaza la "gota" hacia la derecha
        &::before {
            transform: translateX(100%);
        }
    }
}
// Estilos de las tarjetas de los planes
.tarjeta{
   border-radius: 15px;
   padding: 2rem;
   text-align: center;
}
.pro,
.plus{
    background-color: v.$negro;
    border: 2px solid v.$negro;
    transition: all 0.3s ease-in-out;
    p{
        color: v.$blanco;
        margin: 0;
    }
    h2{
        color: v.$cian;
        font-size: 2.5rem;
    }
    h4, li{
        color:v.$blanco;
    }
    h3{
        font-size: 5rem;
        color: v.$cian;
        margin: 0;
    }
    h4{
        font-size: 2.5rem;
        margin: 1rem;
        font-style: italic;
    }
    .precio-planes{
        color: v.$verde;
        font-size: 7rem;
    }
    .precio-planes-desde{
        color: v.$verde;
        font-size: 5rem;
    }
    &:hover{
        border: 2px solid v.$blanco;
        transform: scale(1.04);
    }
}
.elite{
    border: 3px solid v.$verde;
    background-color: v.$blanco;
    backdrop-filter: blur(30px);
    transition: all 0.3s ease-in-out;
    p{
        margin: 0;
    }
    h4, li{
        color:v.$gris;
    }
    h2{
        color: v.$violeta;
        font-size: 2.5rem;
    } 
    h3{
        font-size: 4rem;
        color: v.$gris;
        margin: 0;
    }
    h4{
        font-size: 2.5rem;
        margin: 1rem;
        color: v.$violeta;
    }
    .precio-planes{
        color: v.$verde;
        font-size: 7rem;
    }
    .precio-planes-desde{
        color: v.$verde;
        font-size: 5rem;
    }
    &:hover{
        border: 2px solid v.$violeta;
        transform: scale(1.04);
    }
}
.plan-body li{
    margin-bottom: 3rem; 
}
footer .cta{
    text-align: center;
    margin-top: 2.5rem;
}
// cintilla
.cintilla{
    p{
        margin: 0;
    }
    h3{
        margin: 15px;
        color:v.$blanco;
    }
}
// Sección Cuidado continuo 
.contenedor-cuidado{
    padding-left: 5.2rem;
    padding-right: 5.2rem;
    height: 2000px;
    background-image: url(../../src/img/full/fondos/fondoContinuo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include m.tablet{
        height: 1950px;  
    }
    @include m.desktop{
        height: 750px;
    }
    p{
        margin-top: 0;
    }
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    background-color: rgba(v.$violeta, 0.6);
}
.informacion2{
    margin-top: 3rem;
    text-align: center;
    h2{
        margin: 0;
        color: v.$blanco;
    }
    p{
        color: v.$blanco;
    }   
    .precio{       
        font-size: 5rem;
        margin: 2rem;
        color: v.$verde;
        @include m.tablet{
            font-size: 10rem;
            margin: 0;          
        }
    }
    .cta{
        margin: 0;
    }
}
.servicio-cuidado{
    border: 1px solid v.$blanco;
    border-radius: 15px;
    backdrop-filter: blur(40px);
    @include m.desktop{
        @include m.grid(5, 2rem);
    }
}
.cuidado{
    margin-top: 2rem;
    padding: 1rem;
    @include m.flex(column, center, center); 
    h3{
        text-align: center;
        color: v.$blanco;
    }
    p{
        text-align: center;
        color: v.$blanco;
    }
}
.iconos{
    @include m.flex(row, center, center);
    height: 20rem;
    width: 20rem;
    transition: all 0.3s ease-in-out;
    img{
        width: 100%;
        height: auto;
    }
    &:hover{
        cursor: pointer;
        transform: scale(1.2);
    }
}
// Sección Dudas 
.cintilla{
    h2{
        margin: 0;
    }
} 
// Seccion FQA 
.contenedor-FAQ{
    display: block;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 10px;
    margin: 0 auto;
}
.FAQ-item{
    @include m.contenedor;
    @include m.flex(column, center, center);
    text-align: center;
    margin-top: 3rem;
    border-radius: 15px;
}
.FAQ-contenido{
    padding: 3rem;
    h3{
        color:v.$morado;
    }
}
//Porpiedad para centrar las secciones al usar button y id 
.centrada-planes{
    scroll-margin: 20vh; /* Centra todas las secciones en el visor */
}
