@use 'base/variables' as v;
@use 'base/mixins' as m;

// Seccion marado
.section-morado{
    background: v.$violeta;
}
.fotografia{    
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    img{
        border-radius: 5%;
        height: auto; // Ajusta la altura automáticamente
        width: 100%; // Asegura que la imagen ocupe el ancho completo del contenedor
        max-width: 30rem; // Límite máximo para el ancho
        max-height: 30rem; // Límite máximo para la altura
        margin-bottom: 4rem;
    }
    @include m.tablet{
        img {
            max-width: 65rem; // Límite para tablets
            max-height: 65rem; // Límite para tablets
        }
    }
}
// Secciones en Color negro
.section-negro{
    background-color: v.$morado;
    @include m.grid;    
    height: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    @include m.desktop{
        @include m.grid (2, 1);
        height: 550px;
        column-gap: 2rem;
        align-items: center;
        justify-items: center;
        padding-right: 5.2rem;
        padding-left: 5.2rem;
    }
}
.color-negro{
    text-align: center;
    h2, p{
        color: v.$blanco;
        margin: 0;
    }
    @include m.desktop{
        text-align: left;
    }
}
.section-negro .icono{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
// Secciones en color blanco
.section-blanco{
    background-color: v.$blanco;
    @include m.grid;    
    height: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    @include m.desktop{
        @include m.grid (2, 1);
        height: 550px;
        column-gap: 2rem;
        align-items: center;
        justify-items: center;
        padding-right: 5.2rem;
        padding-left: 5.2rem;
    }
}
.color-blanco{
    text-align: center;
    h2, p{
        color: v.$negro;
        margin : 0;
    }
    @include m.desktop{
        text-align: left;
    }
}
.section-blanco .icono{
    width: 80%;
    height: auto;
    margin: 0 auto;
} 