@use 'variables' as v;

@mixin telefono {
    @media (max-width: v.$telefono){
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet){
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop){
        @content;
    }
}
@mixin desktopXL {
    @media (min-width: v.$desktopXL){
        @content;
    }
}
//Menú de Hamburguesa para dispositivos moviles
@mixin hamburguesa {
    .menu-hamburguesa {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 1rem;
        width: auto;
        position: relative;       
        img {
              height: 2rem;                
              width: auto;          
            }
    }
    //Estilos para la navegación principal (el menu desplegable)
    .navegacion-principal{   
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 4rem;
        right: 0; 
        width: 100%;
        background-color: v.$negro;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;        
        //Estado inicial del menú oculto
        max-height: 0; //altura inicial
        opacity: 0; //Opcidad inicial
        visibility: hidden; //Oculto para evitar la interaccion
        overflow: hidden; //para evitar que el contenido sea visible cuando el menu esta oculto
        transition: max-heigth 0.37s ease-in-out, opacity 0.37s ease-in-out, visibility 0.37s;
    }
    //Cuando el menú-hamburguesa tiene la clase activo, mostramos el menú   
        &.activo .navegacion-principal{
            opacity: 1;
            max-height: auto; // Ajusta el valor según el contenido del menú 
            visibility: visible;
            transition: max-heigth 0.37s ease-in-out, opacity 0.37s ease-in-out, visibility 0.37s;
        }        
        a{
            color: v.$blanco;
            font-size: 2.4rem;
            font-weight: 500;
            &:hover{
                color: v.$cian;
            }
        }
}
@mixin contenedor{
    width: 90%;
    max-width: 180rem;    
    margin: 0 auto;
}
@mixin grid($columnas: 1, $medianil: 2rem){
    display: grid;    
    grid-template-columns: repeat($columnas,1fr);
    column-gap: $medianil; 
     
}
@mixin flex($direction: row, $justify: space-between, $aling: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
}
@mixin background-image($image-url, $size: cover, $position: center, $repeat: no-repeat) {
    background-image: url($image-url);
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
    height: 100vh;
}
