$fuente_principal:  "Montserrat", sans-serif;
$fuente_titulos:  "Bebas Neue", sans-serif;
//Media Quieries
$telefono: 600px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
//Colores Nahual
$morado: #432074;
$lila: #7674D8;
$huerfano: #4192D9;
$azul: #04B1D9;
$cian: #04C4DA;
$rosa: #F26AC5;
$verde: #6AF2A5;
$amarillo: #F3C024;
$violeta: #7514F3;
$rojo:#FF5851;
$negro:#333333;
$blanco: whitesmoke;




